* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c33;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

#price {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 15px;
  overflow: auto;
  width: 1200px;
  height: 600px;
  background-color: #35383f;
}

#qualquerCoisa {
  width: 1200px;
  height: 50px;
  background-color: #35383f;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 150px;
  height: 44px;
  background-color: #282c33;
}

#search {
  background-color: #96EB95;
  padding: 7px;
  border-radius: 10px;
  border: none;
}

#coin {
  border-radius: 10px;
  border: none;
  padding: 7px;
  background-color: #35383f;
  color: white;
  margin-top: 10px;
}
